{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<div class="container jumbotron bg-dark text-white">
    <h2>India COVID-19 Coronavirus Daily Report Page</h2>    
    <div id="panels"> 
    {% for key , value in state_status.items %}
    <h2>{{key}}</h2>
      <div class="panels2"> 
      {% for dis , district in value.items %}  
        {% for bla , name in district.items %}
            <p>{{bla}} : {{name.confirmed}}</p>
        {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
</div>
</div>
{% endblock %}