{% extends 'base.html' %}
	{% block content %}
	{% if patients_list %}
			{% if patients_list == "Error"  %}
				<h1>Sorry</h1>
			{% else %}
			{% for patient  in patients_list.raw_data %}
			<ul>
	<div class="container jumbotron bg-dark text-white">

				<li>
				<p>Patient No. : {{patient.patientnumber}}</p>
				<p>State : {{patient.detectedstate}}</p>
				<p>Possible Disease Transmission from :
					{% if patient.contractedfromwhichpatientsuspected %}
				 {{patient.contractedfromwhichpatientsuspected}} {% else %} Unknown</p>
				{% endif %}
				<p>Travel History : {{patient.notes}}</p> 
				</li>
		</div>
				 <br>
				</ul>
				{% endfor %}
			{% endif %}
		{% endif %}}
	{% endblock %}
